.App {
	text-align: center;
}

.intro {
	margin: 5% 2%;
	background-color: rgb(195, 193, 193);
	padding: 3%;
}

.cards {
	display: flex;
	justify-content: space-around;
	margin: 2% 10%;
}

.contact {
	margin: 2% 10%;
	background-color: rgb(208, 215, 215);
	padding: 2%;
}

.footer {
	background-color: gray;
	color: white;
	padding: 3%;
}
